doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title youtoo tools
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    link(rel='stylesheet', type='text/css', href='https://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css')
    link(rel='stylesheet', type='text/css', href='css/youtoo_tools.min.css')

  body
    .container-fluid.bg.lightest
      .row.padding-top.padding-bottom.bg.darker
        .col-xs-12.text.small.center.color.dark_green
          strong.color.peter-river.padding-right Youtoo Tools
          | Easily troubleshoot browser and website issues.

      .row.padding-bottom.padding-top
        .col-xs-6
          a.btn.btn-default.btn-block(href='#', data-toggle='modal', data-target='#modal-confirm-cache-clear')
            span.glyphicon.glyphicon-flash
            | Clear Browser Cache
        .col-xs-6
          a.btn.btn-default.btn-block(href='#', data-toggle='modal', data-target='#modal-confirm-cookies-clear')
            span.glyphicon.glyphicon-flash
            | Clear Cookies

      .row.padding-bottom
        .col-xs-6
          a#action-cache-disable.btn.btn-danger.btn-block(href='#')
            span.glyphicon.glyphicon-remove
            | Disable Browser Cache
          a#action-cache-enable.btn.btn-success.btn-block.hidden(href='#')
            span.glyphicon.glyphicon-remove
            | Enable Browser Cache
        .col-xs-6
          a#action-incognito-create.btn.btn-info.btn-block(href='#')
            span.glyphicon.glyphicon-eye-close
            | Incognito Window

      .row.bg.darker.margin-top.padding-bottom.padding-top
        .col-xs-12.color.light_green.text.small
          | Developed by
          strong
            a(href='#') Youtoo Technologies
          | , 2014

      #modal-confirm-cache-clear.modal.fade
        .modal-dialog.modal-sm
          .modal-content
            .modal-body
              | Are you sure that you want to clear your browser's cache?
            .modal-footer
              a#action-cache-clear.btn.btn-success.btn-small(data-dismiss='modal')
                span.glyphicon.glyphicon-ok
                | Clear the cache.
              a.btn.btn-danger.btn-small(data-dismiss='modal')
                span.glyphicon.glyphicon-remove
                | Cancel

      #modal-confirm-cookies-clear.modal.fade
        .modal-dialog.modal-sm
          .modal-content
            .modal-body
              | Are you sure that you want to clear your browser's cookies?
            .modal-footer
              a#action-cookies-clear.btn.btn-success.btn-small(data-dismiss='modal')
                span.glyphicon.glyphicon-ok
                | Clear my cookies.
              a.btn.btn-danger.btn-small(data-dismiss='modal')
                span.glyphicon.glyphicon-remove
                | Cancel

    script(type='text/javascript', src='js/youtoo_tools.min.js')
    script(type='text/javascript', src='https://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js')
