doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title youtoo tools
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    link(rel='stylesheet', type='text/css', href='https://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css')
    link(rel='stylesheet', type='text/css', href='css/youtoo_tools.min.css')

  body
    .container-fluid.bg.lighter
      .row.padding-top.bg.darkest
        .col-xs-3
          img.responsive.logo(src='img/youtoo_logo_128.png')
        .col-xs-9
          h4.color.light_turquoise Youtoo Tools
          p.color.light_green.text.light Making it easy to troubleshoot browser and website issues.

      .row.padding-bottom.padding-top
        .col-xs-6
          a.btn.btn-default.btn-block(href='#', data-toggle='modal', data-target='#modal-confirm-cache-clear')
            span.glyphicon.glyphicon-flash
            | Clear Browser Cache
        .col-xs-6
          a.btn.btn-default.btn-block(href='#', data-toggle='modal', data-target='#modal-confirm-cookies-clear')
            span.glyphicon.glyphicon-flash
            | Clear Cookies

      .row
        .col-xs-6
          a#action-cache-disable.btn.btn-danger.btn-block(href='#')
            span.glyphicon.glyphicon-remove
            | Disable Browser Cache
          a#action-cache-enable.btn.btn-success.btn-block.hidden(href='#')
            span.glyphicon.glyphicon-remove
            | Enable Browser Cache
        .col-xs-6
          a#action-incognito-create.btn.btn-info.btn-block(href='#')
            span.glyphicon.glyphicon-eye-close
            | Incognito Window

      .row
        .col-xs-12
          | Developed by
          strong
            a(href='#') Youtoo Technologies
          | , 2014

      #modal-confirm-cache-clear.modal.fade
        .modal-dialog.modal-sm
          .modal-content
            .modal-header
              h3 Confirm
            .modal-body
              | Are you sure that you want to clear your browser's cache?
            .modal-footer
              button#action-cache-clear.success.normal.inline(data-modal='close')
                span.glyphicon.glyphicon-ok
                | Confirm
              button.alert.normal.inline(data-modal='close')
                span.glyphicon.glyphicon-remove
                | Cancel

      #modal-confirm-cookies-clear.modal.fade
        .modal-dialog.modal-sm
          .modal-content
            .modal-header
              h3 Confirm
            .modal-body
              | Are you sure that you want to clear your browser's cookies?
            .modal-footer
              button#action-cookies-clear.success.normal.inline(data-modal='close')
                span.glyphicon.glyphicon-ok
                | Confirm
              button.alert.normal.inline(data-modal='close')
                span.glyphicon.glyphicon-remove
                | Cancel

    script(type='text/javascript', src='js/youtoo_tools.min.js')
    script(type='text/javascript', src='https://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js')
